/*
Techdegree| Project 10
=====================================================================================
by Humberto Ventura
=================================================================
*/


/*main*/

* {
  box-sizing: border-box; 
}
body {
  font-family: 'Helvetica', sans-serif;
  background: #f6f6f6;
  overflow:hidden;
}

h1 {
  font-size: 1.1em;
  color: #4a4a4a;
  font-weight: 300; 
  text-transform: uppercase;
}

p {
  color: darkgrey;
   font-size: .8em;
   margin: .3em; 
  font-weight: 300; 
}


ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0; 
}

button {
  height: 3em;
  width: 100%;
  background-color: #7477bf;
  border: 0;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  margin-bottom: .5em; 
}
.bold {
  font-weight: 700;
}

img{
	width:200px;
}


/*header*/
header{
display:flex;
flex-direction:row;
width:100%;	
}

header h1{
margin:auto;
margin-left:20px;
margin-top:20px;
}

header .search{
margin:auto;
margin-right:30px;
margin-top:20px;
background: #ffffff url("../images/search-icon.svg") no-repeat right center;
background-position: 95%; 
width:90%;
}


/*forms*/
input,
select,
textarea {
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
  color: #808080;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #faf8f8;
  border: 1px solid lightgrey;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  box-sizing: border-box; 
}


/*setting employees section*/

#employee{
display:flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;	
}

.employee{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 	
  margin: 30px 1.5%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 0 5px rgba(10, 10, 10, 0.05);
  transition: box-shadow .5s;
  cursor: pointer;
  flex-basis:100%;
}

.employee:hover {
  box-shadow: 0 0 5px rgba(10, 10, 10, 0.7);
}

.avatar {
  border-radius: 50%;
  width: 80px;
  margin-right: 15px;
}


.name {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2em;
  color: #444;
  margin-bottom: 5px;
  text-transform:capitalize;
}

/* modal */
#overlay-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2em; 
  overflow: auto;
}

#overlay-square{
  width: 30%;
  min-width: 300px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(10, 10, 10, 0.5);
  opacity: 1; 
  text-align: center;
  margin: 50px auto 2em;
  padding-top:20px;
  padding-bottom:20px;
}

#overlay p {
  margin: 5px;
  font-size: 1em;
  line-height: 1.7em;
}


#overlay #close {
  cursor: pointer;
  margin: 0; 
  font-size: 32px;
  font-weight: 300;
  color: #333; 
  margin-left: 20px;
  text-align: right;
}

#next, #previous {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  opacity: .5;
  transition: opacity .5s;
}

#next:hover, #previous:hover {
  cursor: pointer;
}

#next{
  left: 75%;
}

#previous{
  left: 25%;
}


/*media*/

@media (min-width: 1024px) {
  .employee {
    flex-direction: row;
    flex-basis: 20%;
    flex-grow: 1;
  }
}

